<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                  <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About</a>
                  <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="d-flex flex-row align-items-center">
                    <div class="mr-5">
                        <a href="{% url 'djangoapp:add_review' dealer_id %}">Leave a Review</a>
                    </div>
                    <div>
                        <a href="#">{{ user.username }}</a>
                        <a href="{% url 'djangoapp:logout' %}" class="btn btn-outline-primary">Logout</a>
                    </div>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" required></input>
                            <input type="password" class="form-control" placeholder="Password" name="password" required></input>
                            <button type="submit" class="btn btn-primary">Log in</button>
                            <a class="btn btn-link">Sign Up</button>
                        </div>
                    </form> 
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Add reviews as cards -->
    <h1>Reviews for </h1>
    <div class="card-columns">
    {% for review in reviews %}
        <div class="card">
            <img class="card-img-left" width="50" height="50" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png"></img>
            <label class="card-title ml-2">{{review.name}}</label>
            <div class="card-body">
                <label class="card-title">{{review.car_make}}, {{review.car_model}}</label>
                <label class="card-title">{{review.car_year}}</label>
                <label class="card-title">{{review.review}}</label>
            </div>
        </div>
    {% endfor %}
    </div>
    </body>

</html>